{% extends 'base.html.twig' %}

{% block title %}Louer Vehicule{% endblock %}

{% block body %}
		<section class="container-fluid about">
			<div class="container">
				<div class="row align-items-top">
					<article class="col-12">
						<div class="jumbotron">
						  <div class="container">
						  	<p>Louer-Vehicule<p>
                              {{voiture.typeVehicule}}
                            {{ form(facturationForm) }}
						  </div>
						</div>
					</article>
				</div>
			</div>	
		</section>
{% endblock %}