{% extends 'base.html.twig' %}

{% block title %}Ajout vehicule{% endblock %}

{% block body %}
		<section class="container-fluid about">
			<div class="container">
				<div class="row align-items-top">
					<article class="col-12">
						<div class="jumbotron">
						  <div class="container">
                          	<hr class="my-4">
						  	<p>Mon Compte<p>
                            <hr class="my-4">
                            <p>Nom :<p>{{ app.user.nom }}
                            <p>Email :<p>{{ app.user.email }}
                            <hr class="my-4">
						  </div>
						</div>
					</article>
				</div>
			</div>	
		</section>
{% endblock %}
